POSTGRES_USER=txt2sql_admin
POSTGRES_PASSWORD=
POSTGRES_DB=txt2sql
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

GROQ_API_KEY=
GOOGLE_API_KEY=
LANGSMITH_API_KEY=
LANGSMITH_TRACING=false
LANGSMITH_PROJECT=txt2sql-clarification-engine
